.modal {
  position: fixed;
  z-index: 9999;
  width: 50%;
  height: 35%;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.title {
  background-color: #6c3779;
  margin: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 20px;
  font-size: 1.5rem;
  color: #c7c2c2;
}

.text {
  font-size: 1.8rem;
  padding: 10px 20px;
}

.actions {
  text-align: right;
  margin: 20px;
}

.actions button {
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  margin: 0 10px;
  transition: all 250ms ease-in-out;
}
