.home {
  padding: 1rem 2rem;
}

.top,
.bottom {
  font-family: 'Merienda One', cursive;
  font-size: 3rem;
  margin: 2rem 0;
}

.top {
}

.bottom {
}

.callToAction {
}

.link {
  text-decoration: none;
  font-size: 1.2rem;
  color: teal;
}
