.cartItem {
  height: 5rem;
  margin: 25px 0;
  padding: 0 25px;
  border-bottom: 3px solid #6c3779;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  width: 60%;
}

.image {
  width: 50px;
  height: 50px;
}

.image img {
  width: 50px;
  height: 50px;
}
