.quantityInput {
  margin: 5px 0;
}

.quantityText {
  width: 40px;
  padding: 5px;
  border-radius: 4px;
  text-align: center;
}

.btnRemove {
  background-color: var(--color-primary);
  color: white;
}
